<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
  background-color: #DCAE96;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: serif;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>Elena Niewolski</h1>
<p lang="en">Motivated and organized individual seeking a possiton as Junior Frontend Developer. Quick learner with excellent time management and attention to detail. Calm and friendly demeanor, ideal for team-based settings. Eager to contribute and grow professionally. </p>

</body>
</html>
